## Working with hdfs

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("TestApp").getOrCreate()

In [3]:
spark

In [10]:
df = spark.read.csv(path='hdfs://localhost:9000/data', header=True)

In [11]:
df.show()

+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date| price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.90|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13|239.90|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30|199.00|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18| 12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51|199.90|        18.14|
|00048cc3ae777c65d...|            1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23 03:55:27| 21.90|        12.69|
|00054e8431b9d7675...|            1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|2017-12-14 12:10:31| 19.90|        11.85|
|000576fe39319847c...|            1|557d850972a7d6f79...|5996cddab893a4652...|2018-07-10 12:30:45|810.00|        70.75|
|0005a1a1728c9d785...|            1|310ae3c140ff94b03...|a416b6a846a117243...|2018-03-26 18:31:29|145.95|        11.65|
|0005f50442cb953dc...|            1|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06 14:10:56| 53.99|        11.40|
|00061f2a7bc09da83...|            1|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29 22:28:09| 59.99|         8.88|
|00063b381e2406b52...|            1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31 17:30:39| 45.00|        12.98|
|0006ec9db01a64e59...|            1|99a4788cb24856965...|4a3ca9315b744ce9f...|2018-07-26 17:24:20| 74.00|        23.32|
|0008288aa423d2a3f...|            1|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52| 49.90|        13.37|
|0008288aa423d2a3f...|            2|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52| 49.90|        13.37|
|0009792311464db53...|            1|8cab8abac59158715...|530ec6109d11eaaf8...|2018-08-17 12:15:10| 99.90|        27.65|
|0009c9a17f916a706...|            1|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|2018-05-02 09:31:53|639.00|        11.34|
|000aed2e25dbad2f9...|            1|4fa33915031a8cde0...|fe2032dab1a61af87...|2018-05-16 20:57:03|144.00|         8.77|
|000c3e6612759851c...|            1|b50c950aba0dcead2...|218d46b86c1881d02...|2017-08-21 03:33:13| 99.00|        13.71|
|000e562887b1f2006...|            1|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2018-02-28 12:08:37| 25.00|        16.11|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
only showing top 20 rows

In [25]:
!hadoop fs -ls /

Found 2 items
drwxr-xr-x   - kamal supergroup          0 2023-10-04 17:13 /data
drwxr-xr-x   - kamal supergroup          0 2023-10-31 15:13 /salesData

In [27]:
!hadoop fs -ls /salesData/

Found 1 items
-rw-r--r--   1 kamal supergroup     527958 2023-10-31 15:13 /salesData/sales.csv

In [14]:
!hadoop fs -mkdir /salesData

In [24]:
!hadoop fs -put C:\Users\kamal\Desktop\sales.csv /salesData

In [16]:
pwd

'C:\\Users\\kamal\\Desktop\\Data\\pyspark_important'

In [23]:
!dir C:\Users\kamal\Desktop\

 Volume in drive C has no label.
 Volume Serial Number is B64D-E0B6

 Directory of C:\Users\kamal\Desktop

30-10-2023  16:34    <DIR>          .
30-10-2023  16:34    <DIR>          ..
29-10-2023  15:35            54,991 0_X1I3rXiHQHa9nMLa.png
30-09-2021  18:10    <DIR>          100-days-of-machine-learning-main
29-10-2023  15:34            84,588 1_c8CtvqKJDVUnMoPGujF5fA.png
29-10-2023  15:34            18,072 1_nPcdyVwgcuEZiEZiRqApug.jpg
04-10-2023  21:58             6,479 Account_Statement_040923_031023.xls
21-10-2023  16:25    <DIR>          airflow_tutorial
09-10-2023  11:25    <DIR>          All-CSV
04-10-2023  17:52        31,111,361 apache-cassandra-3.11.16-bin.tar.gz
26-08-2023  12:06               242 AWS.txt
24-10-2023  16:32    <DIR>          books
23-10-2023  14:19    <DIR>          Campusx
01-10-2023  17:23    <DIR>          Cassandra-main
30-09-2023  15:33    <DIR>          Confluent_Kafka-main
06-10-2023  14:44    <DIR>          Data
30-10-2023  16:34            11,891 data engineering syllabu.xlsx
04-10-2023  22:40            70,130 data-engineering-workflow-and-ecosystem.webp
04-10-2023  22:39            56,246 data-integration-and-data-engineering-streamsets.webp
04-10-2023  22:41            11,568 Data-pipeline.webp
27-09-2023  21:51    <DIR>          DataEngineer
21-10-2023  17:26             2,136 Docker Desktop.lnk
11-02-2020  14:51    <DIR>          docker-airflow-master
23-08-2023  20:42           443,371 flights_cleaned.xlsx
13-10-2023  15:49         1,350,264 Food_censes.docx
27-10-2023  10:19    <DIR>          Hadoop_Hive_Spark_Docker_Setup-main
05-10-2023  17:08    <DIR>          kafa_assignment_solution
07-10-2023  17:56    <DIR>          kafka-assignment
28-10-2023  20:35             1,479 kafka.txt
27-10-2023  10:14    <DIR>          Kafka_Assignment_Solution
17-10-2023  20:44    <DIR>          kamal
24-08-2023  11:14           895,869 Kam_res.pdf
27-09-2023  21:51    <DIR>          kpmg
11-09-2023  14:31           226,094 KPMGcompletion_certificate.pdf
27-09-2023  21:51    <DIR>          ML
04-10-2023  14:52             1,772 new 1.txt
28-10-2023  11:00               383 New Text Document (2).txt
27-10-2023  17:55               609 New Text Document.txt
19-10-2023  16:03    <DIR>          ppt
31-10-2023  15:08    <DIR>          pyspark
04-10-2023  17:29    <DIR>          Pyspark-With-Python-main
24-08-2023  11:15           614,658 Resume.pdf
20-09-2019  02:04           527,958 sales.csv
23-10-2023  22:26    <DIR>          Song
27-09-2023  21:51    <DIR>          Spark-test
04-10-2023  15:49    <DIR>          spark_steraming
29-10-2023  15:11    <DIR>          stock-market-kafka-data-engineering-project-main
28-10-2023  16:48         2,632,831 stock-market-kafka-data-engineering-project-main.zip
28-10-2023  19:48    <DIR>          store
28-10-2023  11:01             2,154 twitter-airflow-data-engineering-project-main.zip
26-09-2023  16:59    <DIR>          twitter_project
02-09-2023  20:57             1,573 WhatsApp.lnk
12-06-2022  08:53           438,158 yt1s.com - Shir Krishna Govind Hare Murari Ringtone.mp3
              25 File(s)     38,564,877 bytes
              28 Dir(s)  225,577,066,496 bytes free

In [19]:
pwd

'C:\\Users\\kamal\\Desktop\\Data\\pyspark_important'

In [30]:
df = spark.read.csv(path = 'hdfs://localhost:9000/salesData/sales.csv', header=True)
df.show(5)

+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|      ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|        CUSTOMERNAME|           PHONE|        ADDRESSLINE1|ADDRESSLINE2|         CITY|STATE|POSTALCODE|COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2|   2871| 2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|        null|          NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|   Small|
|      10121|             34|    81.35|              5| 2765.9|  5/7/2003 0:00|Shipped|     2|       5|   2003|Motorcycles|  95|   S10_1678|  Reims Collectables|      26.47.1555|  59 rue de l'Abbaye|        null|        Reims| null|     51100| France|     EMEA|        Henriot|            Paul|   Small|
|      10134|             41|    94.74|              2|3884.34|  7/1/2003 0:00|Shipped|     3|       7|   2003|Motorcycles|  95|   S10_1678|     Lyon Souveniers|+33 1 46 62 7555|27 rue du Colonel...|        null|        Paris| null|     75508| France|     EMEA|       Da Cunha|          Daniel|  Medium|
|      10145|             45|    83.26|              6| 3746.7| 8/25/2003 0:00|Shipped|     3|       8|   2003|Motorcycles|  95|   S10_1678|   Toys4GrownUps.com|      6265557265|  78934 Hillside Dr.|        null|     Pasadena|   CA|     90003|    USA|       NA|          Young|           Julie|  Medium|
|      10159|             49|      100|             14|5205.27|10/10/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Corporate Gift Id...|      6505551386|     7734 Strong St.|        null|San Francisco|   CA|      null|    USA|       NA|          Brown|           Julie|  Medium|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
only showing top 5 rows

In [35]:
df.columns

['ORDERNUMBER',
 'QUANTITYORDERED',
 'PRICEEACH',
 'ORDERLINENUMBER',
 'SALES',
 'ORDERDATE',
 'STATUS',
 'QTR_ID',
 'MONTH_ID',
 'YEAR_ID',
 'PRODUCTLINE',
 'MSRP',
 'PRODUCTCODE',
 'CUSTOMERNAME',
 'PHONE',
 'ADDRESSLINE1',
 'ADDRESSLINE2',
 'CITY',
 'STATE',
 'POSTALCODE',
 'COUNTRY',
 'TERRITORY',
 'CONTACTLASTNAME',
 'CONTACTFIRSTNAME',
 'DEALSIZE']

In [36]:
from pyspark.sql.functions import col

In [45]:
df.select('STATE', 'STATE', 'COUNTRY').show()

+--------+--------+---------+
|   STATE|   STATE|  COUNTRY|
+--------+--------+---------+
|      NY|      NY|      USA|
|    null|    null|   France|
|    null|    null|   France|
|      CA|      CA|      USA|
|      CA|      CA|      USA|
|      CA|      CA|      USA|
|    null|    null|   France|
|    null|    null|   Norway|
|      CA|      CA|      USA|
|    null|    null|   France|
|Victoria|Victoria|Australia|
|      NY|      NY|      USA|
|      NJ|      NJ|      USA|
|      CT|      CT|      USA|
|    null|    null|   France|
|      MA|      MA|      USA|
|    null|    null|  Finland|
|    null|    null|   Norway|
|      PA|      PA|      USA|
|      NY|      NY|      USA|
+--------+--------+---------+
only showing top 20 rows