In [1]:
import pyspark.pandas as ps

C:\Users\kamal\AppData\Roaming\Python\Python311\site-packages\pyspark\pandas\__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [2]:
df = ps.read_csv("imdb-movies.csv")
df.head()

C:\Users\kamal\AppData\Roaming\Python\Python311\site-packages\pyspark\pandas\utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

               Series_Title Released_Year  Runtime   Genre  IMDB_Rating              Director           Star1  No_of_Votes        Gross  Metascore
0  The Shawshank Redemption          1994      142   Drama          9.3        Frank Darabont     Tim Robbins      2343110   28341469.0       80.0
1             The Godfather          1972      175   Crime          9.2  Francis Ford Coppola   Marlon Brando      1620367  134966411.0      100.0
2           The Dark Knight          2008      152  Action          9.0     Christopher Nolan  Christian Bale      2303232  534858444.0       84.0
3    The Godfather: Part II          1974      202   Crime          9.0  Francis Ford Coppola       Al Pacino      1129952   57300000.0       90.0
4              12 Angry Men          1957       96   Crime          9.0          Sidney Lumet     Henry Fonda       689845    4360000.0       96.0

In [3]:
df.columns

Index(['Series_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating',
       'Director', 'Star1', 'No_of_Votes', 'Gross', 'Metascore'],
      dtype='object')

In [4]:
df['Genre'].value_counts(ascending=False).sum()

1000