In [1]:
from pyspark.sql.session import SparkSession
from pyspark.sql import *
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName("SparkPractice").getOrCreate()

In [3]:
spark

In [4]:
data = [(1, "kamal"), (2, "chanda")]
spark_df = spark.createDataFrame(data=data)

In [5]:
spark_df.printSchema()

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)

In [10]:
spark_df.show()

+---+------+
| _1|    _2|
+---+------+
|  1| kamal|
|  2|chanda|
+---+------+

In [11]:
display(spark_df)

DataFrame[_1: bigint, _2: string]

In [12]:
type(data)

list

In [13]:
data = [{"id": 1, "name": "kamal"},
       {"id": 2, "name": "chanda"},
       {"id": 3, "name": "durga"},
       {"id": 4, "name": "somil"}]

In [14]:
type(data)

list

In [15]:
df = spark.createDataFrame(data=data)

In [16]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [17]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1| kamal|
|  2|chanda|
|  3| durga|
|  4| somil|
+---+------+

In [34]:

columns = ["language","users_count"]
data = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]

In [37]:
df_1 = spark.createDataFrame(data=data, schema=columns)

In [38]:
df_1.show()

+--------+-----------+
|language|users_count|
+--------+-----------+
|    Java|      20000|
|  Python|     100000|
|   Scala|       3000|
+--------+-----------+

In [41]:
from calendar import *
year = int(input("Enter Year >> "))
print(calendar(year))

Enter Year >> 2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [4]:
import sys
sys.version_info

sys.version_info(major=3, minor=11, micro=4, releaselevel='final', serial=0)

In [9]:
from platform import python_version

print(python_version())

3.11.4

In [25]:
from platform import python_version

python_version()

'3.11.4'

In [26]:
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

C:\Users\kamal\anaconda3\python.exe
3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:38:37) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=11, micro=4, releaselevel='final', serial=0)

In [12]:
!python -V

Python 3.11.4

In [30]:
!python --version

Python 3.11.4