# Moives data Analysis

In [1]:
# import pyspark and create spark session
from pyspark.sql import SparkSession

# create spark cluster
spark = SparkSession.builder\
    .master("local[1]")\
    .appName("Movies Analysis")\
    .getOrCreate()

spark

In [2]:
pwd

'C:\\Users\\kamal\\Desktop\\DataEngineer\\Spark\\SparkMovieRatingProject'

### loaded movies.csv

In [3]:
# import pyspark data types
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

# create schema
schema = StructType([
    StructField(name='movieid', dataType=IntegerType(), nullable=True),
    StructField(name='title', dataType=StringType(), nullable=True),
    StructField(name='genres', dataType=StringType(), nullable=True)
])

# file movies data path in hdfs
movies_hdfs_path = 'hdfs://localhost:9000/data/movies.csv'
# read data in pyspark
movies = spark.read.format('csv')\
    .option('header', 'true')\
    .option('inferSchema', 'false')\
    .schema(schema)\
    .load(movies_hdfs_path)


movies.printSchema()
movies.show()

root
 |-- movieid: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)

+-------+--------------------+--------------------+
|movieid|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

### laoded tags.csv

In [4]:
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, LongType, FloatType

schema = StructType([
    StructField(name="userid", dataType=IntegerType(), nullable=True),
    StructField(name='movieid',dataType=IntegerType(), nullable=True),
    StructField(name='tag', dataType=StringType(), nullable=True),
    StructField(name="timestamp", dataType=LongType(), nullable=True)
])

tags_hdfs_path = 'hdfs://localhost:9000/data/tags.csv'
tags = spark.read.format("csv")\
    .option("header", "true")\
    .option("inferSchema", "false")\
    .schema(schema)\
    .load(tags_hdfs_path)

tags.printSchema()
tags.show(5, truncate=False)

root
 |-- userid: integer (nullable = true)
 |-- movieid: integer (nullable = true)
 |-- tag: string (nullable = true)
 |-- timestamp: long (nullable = true)

+------+-------+---------------+----------+
|userid|movieid|tag            |timestamp |
+------+-------+---------------+----------+
|2     |60756  |funny          |1445714994|
|2     |60756  |Highly quotable|1445714996|
|2     |60756  |will ferrell   |1445714992|
|2     |89774  |Boxing story   |1445715207|
|2     |89774  |MMA            |1445715200|
+------+-------+---------------+----------+
only showing top 5 rows

In [5]:
# update timestamp column into datetime format
from pyspark.sql.functions import from_unixtime
tags_df1 = tags.withColumn("timestamp", from_unixtime(tags.timestamp))
tags_df1.show(truncate=False)

+------+-------+-----------------+-------------------+
|userid|movieid|tag              |timestamp          |
+------+-------+-----------------+-------------------+
|2     |60756  |funny            |2015-10-25 00:59:54|
|2     |60756  |Highly quotable  |2015-10-25 00:59:56|
|2     |60756  |will ferrell     |2015-10-25 00:59:52|
|2     |89774  |Boxing story     |2015-10-25 01:03:27|
|2     |89774  |MMA              |2015-10-25 01:03:20|
|2     |89774  |Tom Hardy        |2015-10-25 01:03:25|
|2     |106782 |drugs            |2015-10-25 01:00:54|
|2     |106782 |Leonardo DiCaprio|2015-10-25 01:00:51|
|2     |106782 |Martin Scorsese  |2015-10-25 01:00:56|
|7     |48516  |way too long     |2007-01-25 06:38:45|
|18    |431    |Al Pacino        |2016-05-02 03:09:25|
|18    |431    |gangster         |2016-05-02 03:09:09|
|18    |431    |mafia            |2016-05-02 03:09:15|
|18    |1221   |Al Pacino        |2016-04-27 01:05:06|
|18    |1221   |Mafia            |2016-04-27 01:05:03|
|18    |5995   |holocaust        |2016-02-18 00:27:52|
|18    |5995   |true story       |2016-02-18 00:27:59|
|18    |44665  |twist ending     |2016-03-03 01:21:23|
|18    |52604  |Anthony Hopkins  |2016-03-11 04:28:16|
|18    |52604  |courtroom drama  |2016-03-11 04:28:31|
+------+-------+-----------------+-------------------+
only showing top 20 rows

### loaded rating.csv

In [6]:
from pyspark.sql.types import StringType, StructField, StructType, IntegerType, LongType, FloatType

schema = StructType([
    StructField(name="userid", dataType=IntegerType(), nullable=True),
    StructField(name='movieid',dataType=IntegerType(), nullable=True),
    StructField(name='rating', dataType=FloatType(), nullable=True),
    StructField(name="timestamp", dataType=LongType(), nullable=True)
])

ratings_hdfs_path = 'hdfs://localhost:9000/data/ratings.csv'
ratings = spark.read.format("csv")\
    .option("header", "true")\
    .option("inferSchema", "false")\
    .schema(schema)\
    .load(ratings_hdfs_path)

ratings.printSchema()
ratings.show(5, truncate=False)

root
 |-- userid: integer (nullable = true)
 |-- movieid: integer (nullable = true)
 |-- rating: float (nullable = true)
 |-- timestamp: long (nullable = true)

+------+-------+------+---------+
|userid|movieid|rating|timestamp|
+------+-------+------+---------+
|1     |1      |4.0   |964982703|
|1     |3      |4.0   |964981247|
|1     |6      |4.0   |964982224|
|1     |47     |5.0   |964983815|
|1     |50     |5.0   |964982931|
+------+-------+------+---------+
only showing top 5 rows

In [7]:
# update timestamp column into datetime format
from pyspark.sql.functions import from_unixtime
ratings_df1 = ratings.withColumn("timestamp", from_unixtime(ratings.timestamp))
ratings_df1.show(truncate=False)

+------+-------+------+-------------------+
|userid|movieid|rating|timestamp          |
+------+-------+------+-------------------+
|1     |1      |4.0   |2000-07-31 00:15:03|
|1     |3      |4.0   |2000-07-30 23:50:47|
|1     |6      |4.0   |2000-07-31 00:07:04|
|1     |47     |5.0   |2000-07-31 00:33:35|
|1     |50     |5.0   |2000-07-31 00:18:51|
|1     |70     |3.0   |2000-07-31 00:10:00|
|1     |101    |5.0   |2000-07-30 23:44:28|
|1     |110    |4.0   |2000-07-31 00:06:16|
|1     |151    |5.0   |2000-07-31 00:37:21|
|1     |157    |5.0   |2000-07-31 00:38:20|
|1     |163    |5.0   |2000-07-31 00:30:50|
|1     |216    |5.0   |2000-07-30 23:50:08|
|1     |223    |3.0   |2000-07-30 23:46:25|
|1     |231    |5.0   |2000-07-30 23:49:39|
|1     |235    |4.0   |2000-07-30 23:45:08|
|1     |260    |5.0   |2000-07-30 23:58:00|
|1     |296    |3.0   |2000-07-31 00:19:27|
|1     |316    |3.0   |2000-07-31 00:08:30|
|1     |333    |5.0   |2000-07-30 23:49:39|
|1     |349    |4.0   |2000-07-31 00:12:43|
+------+-------+------+-------------------+
only showing top 20 rows

# solve these problems using pyspark or pyspark-sql

    a. Show the aggregated number of ratings per year
    b. Show the average monthly number of ratings
    c. Show the rating levels distribution
    d. Show the 18 movies that are tagged but not rated
    e. Show the movies that have rating but no tag
    f. Focusing on the rated untagged movies with more than 30 user ratings, show the top 10 movies in terms of average rating and number of ratings
    g. What is the average number of tags per movie in tagsDF? And the
    average number of tags per user? How does it compare with the
    average number of tags a user assigns to a movie?
    h. Identify the users that tagged movies without rating them
    i. What is the average number of ratings per user in ratings DF? And the
    average number of ratings per movie?
    j. What is the predominant (frequency based) genre per rating level?
    k. What is the predominant tag per genre and the most tagged genres?
    l. What are the most predominant (popularity based) movies?
    m. Top 10 movies in terms of average rating (provided more than 30 users
    reviewed them)

In [8]:
ratings.columns

['userid', 'movieid', 'rating', 'timestamp']

In [9]:
# a. Show the aggregated number of ratings per year
from pyspark.sql.functions import year, col, count, substring

ratings_per_year = ratings_df1.groupBy(year(col('timestamp')).alias("year"))\
    .agg(count("*").alias("count"))

ratings_per_year.show()


# second method

rating_per_yaer_1 = ratings_df1.groupBy(substring("timestamp", 0, 4).alias("years"))\
    .agg(count("*").alias("count"))

rating_per_yaer_1.show()

+----+-----+
|year|count|
+----+-----+
|2003| 4014|
|2007| 7111|
|2018| 6418|
|2015| 6616|
|2006| 4059|
|2013| 1664|
|1997| 1916|
|2014| 1439|
|2004| 3274|
|1996| 6040|
|1998|  507|
|2012| 4657|
|2009| 4163|
|2016| 6702|
|2001| 3922|
|2005| 5818|
|2000|10061|
|2010| 2301|
|2011| 1690|
|2008| 4348|
+----+-----+
only showing top 20 rows

+-----+-----+
|years|count|
+-----+-----+
| 2016| 6702|
| 2012| 4657|
| 2017| 8199|
| 2014| 1439|
| 2013| 1664|
| 2005| 5818|
| 2000|10061|
| 2002| 3478|
| 2009| 4163|
| 2018| 6418|
| 2006| 4059|
| 2004| 3274|
| 2011| 1690|
| 2008| 4348|
| 1999| 2439|
| 1997| 1916|
| 2007| 7111|
| 1996| 6040|
| 2015| 6616|
| 1998|  507|
+-----+-----+
only showing top 20 rows

In [10]:
# ratings_df1.select(substring('timestamp', 0, 2)).show()

In [11]:
from pyspark.sql.functions import *

In [12]:
ratings_df1.select(year(col('timestamp'))).show(truncate=False)

+---------------+
|year(timestamp)|
+---------------+
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
|2000           |
+---------------+
only showing top 20 rows

In [13]:
# b. Show the average monthly number of ratings
# using sql query in pysaprk
# create a temporary ratingTable
ratings_df1.createOrReplaceTempView('ratingTable')
movies.createOrReplaceTempView("moviesTable")
tags.createOrReplaceTempView("tagsTable")

In [14]:
# b. Show the average monthly number of ratings
spark.sql("""select month(timestamp) as month, count(rating) as num_fo_rating 
            from ratingTable group by month(timestamp)
            order by month asc""")\
    .show()

+-----+-------------+
|month|num_fo_rating|
+-----+-------------+
|    1|         8610|
|    2|         7576|
|    3|         8898|
|    4|         7848|
|    5|        10823|
|    6|         8873|
|    7|         6935|
|    8|         8948|
|    9|         8669|
|   10|         7104|
|   11|         9679|
|   12|         6873|
+-----+-------------+

In [15]:
# usibg byspark
# b. Show the average monthly number of ratings
from pyspark.sql.functions import month
rating_monthly_count_df = ratings_df1.groupBy(month('timestamp').alias("month"))\
    .agg(count("rating").alias("rating_count"))\
    .orderBy("month")\
    .show()

+-----+------------+
|month|rating_count|
+-----+------------+
|    1|        8610|
|    2|        7576|
|    3|        8898|
|    4|        7848|
|    5|       10823|
|    6|        8873|
|    7|        6935|
|    8|        8948|
|    9|        8669|
|   10|        7104|
|   11|        9679|
|   12|        6873|
+-----+------------+

In [16]:
rating_monthly_count_df_1 = ratings_df1.groupBy(substring("timestamp", 6, 2).alias("month"))\
    .agg(count("rating").alias("rating_count"))\
    .orderBy("month")\
    .show()

+-----+------------+
|month|rating_count|
+-----+------------+
|   01|        8610|
|   02|        7576|
|   03|        8898|
|   04|        7848|
|   05|       10823|
|   06|        8873|
|   07|        6935|
|   08|        8948|
|   09|        8669|
|   10|        7104|
|   11|        9679|
|   12|        6873|
+-----+------------+

In [17]:
# Show the rating levels distribution
# meanin of the question is that find the number of count of the rating
from pyspark.sql.functions import col

ratings_dist = ratings_df1.groupBy(col("rating").alias("ratings"))\
    .agg(count("rating").alias("rating_count"))\
    .orderBy("rating")\
    .show()
# solve it by using sql query

spark.sql("""select rating, count(rating) as rating_count from ratingTable
        group by rating order by rating""").show()

+-------+------------+
|ratings|rating_count|
+-------+------------+
|    0.5|        1370|
|    1.0|        2811|
|    1.5|        1791|
|    2.0|        7551|
|    2.5|        5550|
|    3.0|       20047|
|    3.5|       13136|
|    4.0|       26818|
|    4.5|        8551|
|    5.0|       13211|
+-------+------------+

+------+------------+
|rating|rating_count|
+------+------------+
|   0.5|        1370|
|   1.0|        2811|
|   1.5|        1791|
|   2.0|        7551|
|   2.5|        5550|
|   3.0|       20047|
|   3.5|       13136|
|   4.0|       26818|
|   4.5|        8551|
|   5.0|       13211|
+------+------------+

In [18]:
# Show the 18 movies that are tagged but not rated
# craete temp table of movies and tags

# movies.createOrReplaceTempView("moviesTable")
# tags.createOrReplaceTempView("tagsTable")

In [19]:
spark.sql("select * from moviesTable").show()
spark.sql("select * from ratingTable").show()
spark.sql("select * from tagsTable").show()

+-------+--------------------+--------------------+
|movieid|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

+------+-------+------+-------------------+
|userid|movieid|rating|          timestamp|
+------+-------+------+-------------------+
|     1|      1|   4.0|2000-07-31 00:15:03|
|     1|      3|   4.0|2000-07-30 23:50:47|
|     1|      6|   4.0|2000-07-31 00:07:04|
|     1|     47|   5.0|2000-07-31 00:33:35|
|     1|     50|   5.0|2000-07-31 00:18:51|
|     1|     70|   3.0|2000-07-31 00:10:00|
|     1|    101|   5.0|2000-07-30 23:44:28|
|     1|    110|   4.0|2000-07-31 00:06:16|
|     1|    151|   5.0|2000-07-31 00:37:21|
|     1|    157|   5.0|2000-07-31 00:38:20|
|     1|    163|   5.0|2000-07-31 00:30:50|
|     1|    216|   5.0|2000-07-30 23:50:08|
|     1|    223|   3.0|2000-07-30 23:46:25|
|     1|    231|   5.0|2000-07-30 23:49:39|
|     1|    235|   4.0|2000-07-30 23:45:08|
|     1|    260|   5.0|2000-07-30 23:58:00|
|     1|    296|   3.0|2000-07-31 00:19:27|
|     1|    316|   3.0|2000-07-31 00:08:30|
|     1|    333|   5.0|2000-07-30 23:49:39|
|     1|    349|   4.0|2000-07-31 00:12:43|
+------+-------+------+-------------------+
only showing top 20 rows

+------+-------+-----------------+----------+
|userid|movieid|              tag| timestamp|
+------+-------+-----------------+----------+
|     2|  60756|            funny|1445714994|
|     2|  60756|  Highly quotable|1445714996|
|     2|  60756|     will ferrell|1445714992|
|     2|  89774|     Boxing story|1445715207|
|     2|  89774|              MMA|1445715200|
|     2|  89774|        Tom Hardy|1445715205|
|     2| 106782|            drugs|1445715054|
|     2| 106782|Leonardo DiCaprio|1445715051|
|     2| 106782|  Martin Scorsese|1445715056|
|     7|  48516|     way too long|1169687325|
|    18|    431|        Al Pacino|1462138765|
|    18|    431|         gangster|1462138749|
|    18|    431|            mafia|1462138755|
|    18|   1221|        Al Pacino|1461699306|
|    18|   1221|            Mafia|1461699303|
|    18|   5995|        holocaust|1455735472|
|    18|   5995|       true story|1455735479|
|    18|  44665|     twist ending|1456948283|
|    18|  52604|  Anthony Hopkins|1457650696|
|    18|  52604|  courtroom drama|1457650711|
+------+-------+-----------------+----------+
only showing top 20 rows

In [20]:
# solving by sql query
# d. Show the 18 movies that are tagged but not rated
spark.sql("""
    select distinct title from moviesTable as m
    join tagsTable as t on m.movieid=t.movieid
    left join ratingTable as r on r.movieid=m.movieid
    where rating is null
        """).show()

+--------------------+
|               title|
+--------------------+
|Mutiny on the Bou...|
|Call Northside 77...|
|Color of Paradise...|
|For All Mankind (...|
|Browning Version,...|
|I Know Where I'm ...|
|        Proof (1991)|
|Twentieth Century...|
|Innocents, The (1...|
|In the Realms of ...|
|Parallax View, Th...|
|Road Home, The (W...|
|Roaring Twenties,...|
|  Chalet Girl (2011)|
|      Scrooge (1970)|
|      Niagara (1953)|
|  Chosen, The (1981)|
|This Gun for Hire...|
+--------------------+

In [21]:
# movies.write.csv('movies', header=True, mode='overwrite')
# tags_df1.write.csv('tags', header=True, mode='overwrite')
# ratings_df1.write.csv('ratings', header=True, mode='overwrite')

In [22]:
# d. Show the 18 movies that are tagged but not rated
not_rated_tags = movies.join(tags_df1, tags_df1.movieid==movies.movieid, 'inner')\
                        .join(ratings_df1, ratings_df1.movieid==movies.movieid, 'left')\
                        .filter(col('rating').isNull())\
                        .select("title").distinct()
print(not_rated_tags.count())
not_rated_tags.show()

18
+--------------------+
|               title|
+--------------------+
|Mutiny on the Bou...|
|Call Northside 77...|
|Color of Paradise...|
|For All Mankind (...|
|Browning Version,...|
|I Know Where I'm ...|
|        Proof (1991)|
|Twentieth Century...|
|Innocents, The (1...|
|In the Realms of ...|
|Parallax View, Th...|
|Road Home, The (W...|
|Roaring Twenties,...|
|  Chalet Girl (2011)|
|      Scrooge (1970)|
|      Niagara (1953)|
|  Chosen, The (1981)|
|This Gun for Hire...|
+--------------------+

In [23]:
# e. Show the movies that have rating but no tag

not_taged_movie = movies.join(ratings_df1, ratings_df1.movieid==movies.movieid, 'inner')\
                        .join(tags_df1, tags_df1.movieid==movies.movieid, 'left')\
                        .filter(col("tag").isNull())

print(not_taged_movie.count())
not_taged_movie.show()
not_taged_movie.select(col("title")).distinct().show()

52549
+-------+--------------------+--------------------+------+-------+------+-------------------+------+-------+----+---------+
|movieid|               title|              genres|userid|movieid|rating|          timestamp|userid|movieid| tag|timestamp|
+-------+--------------------+--------------------+------+-------+------+-------------------+------+-------+----+---------+
|      6|         Heat (1995)|Action|Crime|Thri...|     1|      6|   4.0|2000-07-31 00:07:04|  NULL|   NULL|NULL|     NULL|
|     70|From Dusk Till Da...|Action|Comedy|Hor...|     1|     70|   3.0|2000-07-31 00:10:00|  NULL|   NULL|NULL|     NULL|
|    151|      Rob Roy (1995)|Action|Drama|Roma...|     1|    151|   5.0|2000-07-31 00:37:21|  NULL|   NULL|NULL|     NULL|
|    157|Canadian Bacon (1...|          Comedy|War|     1|    157|   5.0|2000-07-31 00:38:20|  NULL|   NULL|NULL|     NULL|
|    163|    Desperado (1995)|Action|Romance|We...|     1|    163|   5.0|2000-07-31 00:30:50|  NULL|   NULL|NULL|     NULL|
|    231|Dumb & Dumber (Du...|    Adventure|Comedy|     1|    231|   5.0|2000-07-30 23:49:39|  NULL|   NULL|NULL|     NULL|
|    333|    Tommy Boy (1995)|              Comedy|     1|    333|   5.0|2000-07-30 23:49:39|  NULL|   NULL|NULL|     NULL|
|    362|Jungle Book, The ...|Adventure|Childre...|     1|    362|   5.0|2000-07-31 00:13:08|  NULL|   NULL|NULL|     NULL|
|    367|    Mask, The (1994)|Action|Comedy|Cri...|     1|    367|   4.0|2000-07-30 23:58:30|  NULL|   NULL|NULL|     NULL|
|    423|   Blown Away (1994)|     Action|Thriller|     1|    423|   3.0|2000-07-31 00:09:23|  NULL|   NULL|NULL|     NULL|
|    441|Dazed and Confuse...|              Comedy|     1|    441|   4.0|2000-07-30 23:44:28|  NULL|   NULL|NULL|     NULL|
|    553|    Tombstone (1993)|Action|Drama|Western|     1|    553|   5.0|2000-07-31 00:39:13|  NULL|   NULL|NULL|     NULL|
|    661|James and the Gia...|Adventure|Animati...|     1|    661|   5.0|2000-07-31 00:17:18|  NULL|   NULL|NULL|     NULL|
|    804|She's the One (1996)|      Comedy|Romance|     1|    804|   4.0|2000-07-30 23:38:19|  NULL|   NULL|NULL|     NULL|
|   1009|Escape to Witch M...|Adventure|Childre...|     1|   1009|   3.0|2000-07-30 23:59:35|  NULL|   NULL|NULL|     NULL|
|   1023|Winnie the Pooh a...|Animation|Childre...|     1|   1023|   5.0|2000-07-31 00:14:41|  NULL|   NULL|NULL|     NULL|
|   1024|Three Caballeros,...|Animation|Childre...|     1|   1024|   5.0|2000-07-31 00:17:56|  NULL|   NULL|NULL|     NULL|
|   1031|Bedknobs and Broo...|Adventure|Childre...|     1|   1031|   5.0|2000-07-31 00:14:13|  NULL|   NULL|NULL|     NULL|
|   1049|Ghost and the Dar...|    Action|Adventure|     1|   1049|   5.0|2000-07-31 00:10:00|  NULL|   NULL|NULL|     NULL|
|   1060|     Swingers (1996)|        Comedy|Drama|     1|   1060|   4.0|2000-07-30 23:45:24|  NULL|   NULL|NULL|     NULL|
+-------+--------------------+--------------------+------+-------+------+-------------------+------+-------+----+---------+
only showing top 20 rows

+--------------------+
|               title|
+--------------------+
|Gulliver's Travel...|
|Before Night Fall...|
| Three Wishes (1995)|
| If Lucy Fell (1996)|
|First Blood (Ramb...|
|Don't Tell Mom th...|
| Nut Job, The (2014)|
|22 Jump Street (2...|
|Starship Troopers...|
|Voices from the L...|
|My Father the Her...|
|    Dead Meat (2004)|
|National Lampoon'...|
|7th Voyage of Sin...|
|     Ip Man 3 (2015)|
| Just Friends (2005)|
|I Love You Philli...|
|Tom Segura: Disgr...|
|    Fair Game (1995)|
|Problem Child (1990)|
+--------------------+
only showing top 20 rows

In [24]:
## e.
# solution with sql query
spark.sql("""
        select distinct title from moviesTable as m
        join ratingTable as r on m.movieid=r.movieid
        left join tagsTable as t on t.movieid=m.movieid
        where t.tag is null
        """).show()

+--------------------+
|               title|
+--------------------+
|Gulliver's Travel...|
|Before Night Fall...|
| Three Wishes (1995)|
| If Lucy Fell (1996)|
|First Blood (Ramb...|
|Don't Tell Mom th...|
| Nut Job, The (2014)|
|22 Jump Street (2...|
|Starship Troopers...|
|Voices from the L...|
|My Father the Her...|
|    Dead Meat (2004)|
|National Lampoon'...|
|7th Voyage of Sin...|
|     Ip Man 3 (2015)|
| Just Friends (2005)|
|I Love You Philli...|
|Tom Segura: Disgr...|
|    Fair Game (1995)|
|Problem Child (1990)|
+--------------------+
only showing top 20 rows

In [25]:
# f. Focusing on the rated untagged movies with more than 30 user ratings, show the top 10 movies in terms of average rating and number of ratings
spark.sql("""
        select m.movieid, r.rating, t.tag from moviesTable as m
        join ratingTable as r on m.movieid==r.movieid
        left join tagsTable as t on t.movieid==m.movieid
        where tag is null
        """)\
    .show(truncate=False)

+-------+------+----+
|movieid|rating|tag |
+-------+------+----+
|6      |4.0   |NULL|
|70     |3.0   |NULL|
|151    |5.0   |NULL|
|157    |5.0   |NULL|
|163    |5.0   |NULL|
|231    |5.0   |NULL|
|333    |5.0   |NULL|
|362    |5.0   |NULL|
|367    |4.0   |NULL|
|423    |3.0   |NULL|
|441    |4.0   |NULL|
|553    |5.0   |NULL|
|661    |5.0   |NULL|
|804    |4.0   |NULL|
|1009   |3.0   |NULL|
|1023   |5.0   |NULL|
|1024   |5.0   |NULL|
|1031   |5.0   |NULL|
|1049   |5.0   |NULL|
|1060   |4.0   |NULL|
+-------+------+----+
only showing top 20 rows

In [26]:
# f. Focusing on the rated untagged movies with more than 30 user ratings, show the top 10 movies in terms of average rating and number of ratings

spark.sql("""
        select distinct m.title from moviestable as m
        join ratingtable as r on m.movieid==r.movieid
        left join tagstable as t on t.movieid==m.movieid
        where tag is null
        """).show()


spark.sql("""
        select distinct title from moviesTable as m
        join ratingTable as r on m.movieid=r.movieid
        left join tagsTable as t on t.movieid=m.movieid
        where t.tag is null
        """).show()

+--------------------+
|               title|
+--------------------+
|Gulliver's Travel...|
|Before Night Fall...|
| Three Wishes (1995)|
| If Lucy Fell (1996)|
|First Blood (Ramb...|
|Don't Tell Mom th...|
| Nut Job, The (2014)|
|22 Jump Street (2...|
|Starship Troopers...|
|Voices from the L...|
|My Father the Her...|
|    Dead Meat (2004)|
|National Lampoon'...|
|7th Voyage of Sin...|
|     Ip Man 3 (2015)|
| Just Friends (2005)|
|I Love You Philli...|
|Tom Segura: Disgr...|
|    Fair Game (1995)|
|Problem Child (1990)|
+--------------------+
only showing top 20 rows

+--------------------+
|               title|
+--------------------+
|Gulliver's Travel...|
|Before Night Fall...|
| Three Wishes (1995)|
| If Lucy Fell (1996)|
|First Blood (Ramb...|
|Don't Tell Mom th...|
| Nut Job, The (2014)|
|22 Jump Street (2...|
|Starship Troopers...|
|Voices from the L...|
|My Father the Her...|
|    Dead Meat (2004)|
|National Lampoon'...|
|7th Voyage of Sin...|
|     Ip Man 3 (2015)|
| Just Friends (2005)|
|I Love You Philli...|
|Tom Segura: Disgr...|
|    Fair Game (1995)|
|Problem Child (1990)|
+--------------------+
only showing top 20 rows

In [27]:
# f. Focusing on the rated untagged movies with more than 30 user ratings, show the top 10 movies in terms of average rating and number of ratings

not_taged_movie.groupBy(movies.movieid, 'title')\
    .agg(avg("rating").alias("avg_rating")\
    ,count("rating").alias("num_rating"))\
    .orderBy(col("avg_rating").desc(), col("num_rating").desc()).show(10, truncate=False)

+-------+---------------------------------------------------------------------------------+----------+----------+
|movieid|title                                                                            |avg_rating|num_rating|
+-------+---------------------------------------------------------------------------------+----------+----------+
|78836  |Enter the Void (2009)                                                            |5.0       |2         |
|99     |Heidi Fleiss: Hollywood Madam (1995)                                             |5.0       |2         |
|6442   |Belle époque (1992)                                                              |5.0       |2         |
|3473   |Jonah Who Will Be 25 in the Year 2000 (Jonas qui aura 25 ans en l'an 2000) (1976)|5.0       |2         |
|1151   |Lesson Faust (1994)                                                              |5.0       |2         |
|53     |Lamerica (1994)                                                                  |5.0       |2         |
|2512   |Ballad of Narayama, The (Narayama bushiko) (1983)                                |5.0       |1         |
|136353 |Scooby-Doo! and the Loch Ness Monster (2004)                                     |5.0       |1         |
|1631   |Assignment, The (1997)                                                           |5.0       |1         |
|130978 |Love and Pigeons (1985)                                                          |5.0       |1         |
+-------+---------------------------------------------------------------------------------+----------+----------+
only showing top 10 rows

In [28]:
! python -V

Python 3.10.3

In [29]:
# f. Focusing on the rated untagged movies with more than 30 user ratings, show the top 10 movies in terms of average rating and number of ratings

top_10_rated_untagged = spark.sql("""
        select t.movieid, t.title, count(rating) as rating_count, avg(rating) as avg_rating 
        from (select m.movieid, m.title, r.rating
        from moviestable as m
        join ratingtable as r on m.movieid==r.movieid
        left join tagstable as t on t.movieid==m.movieid
        where tag is null) as t
        group by t.movieid, t.title
        order by avg_rating desc, rating_count desc
        """)


print(top_10_rated_untagged.count())
top_10_rated_untagged.show()

8170
+-------+--------------------+------------+----------+
|movieid|               title|rating_count|avg_rating|
+-------+--------------------+------------+----------+
|  78836|Enter the Void (2...|           2|       5.0|
|     99|Heidi Fleiss: Hol...|           2|       5.0|
|   6442| Belle époque (1992)|           2|       5.0|
|   3473|Jonah Who Will Be...|           2|       5.0|
|   1151| Lesson Faust (1994)|           2|       5.0|
|     53|     Lamerica (1994)|           2|       5.0|
| 145994|Formula of Love (...|           1|       5.0|
| 136503|Tom and Jerry: Sh...|           1|       5.0|
| 115727|Crippled Avengers...|           1|       5.0|
| 147300|Adventures Of She...|           1|       5.0|
|   5468|20 Million Miles ...|           1|       5.0|
|   5328|         Rain (2001)|           1|       5.0|
|  26849|   Stand, The (1994)|           1|       5.0|
|   2512|Ballad of Narayam...|           1|       5.0|
|  93320|Trailer Park Boys...|           1|       5.0|
|  72692|Mickey's Once Upo...|           1|       5.0|
| 136353|Scooby-Doo! and t...|           1|       5.0|
|   1631|Assignment, The (...|           1|       5.0|
| 130978|Love and Pigeons ...|           1|       5.0|
|  44851|Go for Zucker! (A...|           1|       5.0|
+-------+--------------------+------------+----------+
only showing top 20 rows

In [30]:
from pyspark.sql.functions import col

In [31]:
# g. What is the average number of tags per movie in tagsDF? And the

spark.sql("""
        with cte as (select count(tag) as tag_count 
        from tagstable)
        select * 
        from cte
        """).show()



spark.sql("select count(distinct(movieid)) as num_of_movies from tagstable").show()


# final answer
spark.sql("""
        with cte as (select count(tag) as tag_count 
        from tagstable)
        select round(cte.tag_count/(select count(distinct(movieid)) as num_of_movies from tagstable)) as avg_tag_per_movie 
        from cte
        """).show()

+---------+
|tag_count|
+---------+
|     3683|
+---------+

+-------------+
|num_of_movies|
+-------------+
|         1572|
+-------------+

+-----------------+
|avg_tag_per_movie|
+-----------------+
|              2.0|
+-----------------+

In [32]:
# collect the data to use collect function
# g. What is the average number of tags per movie in tagsDF? And the
tags = tags_df1.agg(count("tag").alias("total_tags")).collect()[0]['total_tags']
print(tags)

total_movies = tags_df1.select(col("movieid")).distinct().count()
print(total_movies)

avg_tag_per_movie = tags / total_movies
print(int(avg_tag_per_movie))

3683
1572
2

In [33]:
# h. Identify the users that tagged movies without rating them

spark.sql("""
        select  distinct t.userid from moviestable as m
        join tagstable as t on m.movieid=t.movieid
        left join ratingtable as r on m.movieid=r.movieid
        where r.rating is null
        """)\
    .show()
# -----------------------------------------------------------
# using pyspark

movies.join(tags_df1, tags_df1.movieid==movies.movieid, 'inner')\
    .join(ratings_df1, ratings_df1.movieid==movies.movieid, 'left')\
    .filter(ratings_df1.rating.isNull())\
    .select(tags_df1.userid).distinct()\
    .show()

# ------------------------------------------------------------

taged_not_rated = movies.join(tags_df1, tags_df1.movieid==movies.movieid, 'inner')\
    .join(ratings_df1, ratings_df1.movieid==movies.movieid, 'left')\
    .filter(col("rating").isNull())

taged_not_rated.select(tags_df1.userid).distinct().show()

+------+
|userid|
+------+
|   474|
|   318|
|   543|
|   288|
+------+

+------+
|userid|
+------+
|   474|
|   318|
|   543|
|   288|
+------+

+------+
|userid|
+------+
|   474|
|   318|
|   543|
|   288|
+------+

In [34]:
# i. What is the average number of ratings per user in ratings DF? And the average number of ratings per movie?
raitng_count = ratings_df1.agg(count("rating").alias("rating_count")).collect()[0]['rating_count']
print(raitng_count)

user_count = ratings_df1.select("userid").distinct().count()
print(user_count)
avg_rating_per_user = raitng_count/user_count
print(avg_rating_per_user)

100836
610
165.30491803278687

In [35]:
count_ratings=ratings_df1.agg(count("rating").alias("count_rating")).collect()[0]['count_rating']
print(count_ratings)
total_users=ratings_df1.select("userId").distinct().count()
print(total_users)

avg_ratings_per_user=count_ratings/total_users
print(avg_ratings_per_user)

100836
610
165.30491803278687

In [36]:
spark.sql("select count(distinct userid) as user_count from ratingtable").show()

spark.sql("select count(*) as total_userid from ratingtable").show()

spark.sql("select count(*)/(select count(distinct userid) as user_count from ratingtable) as total_userid from ratingtable").show()

+----------+
|user_count|
+----------+
|       610|
+----------+

+------------+
|total_userid|
+------------+
|      100836|
+------------+

+------------------+
|      total_userid|
+------------------+
|165.30491803278687|
+------------------+

In [37]:
ratings_df1.agg(count("userid").alias("total_user")).show()

+----------+
|total_user|
+----------+
|    100836|
+----------+

In [38]:
ratings_df1.agg(count("userid").alias("user_count")).collect()[0]["user_count"]

100836

In [39]:
# j. What is the predominant (frequency based) genre per rating level?

genres_count = movies.agg(count("genres").alias("genres_count")).collect()[0]['genres_count']
print(genres_count)
rating_count = ratings_df1.agg(count("rating").alias("rating_count")).collect()[0]["rating_count"]
print(rating_count)

geners_per_rating = rating_count / genres_count
print(geners_per_rating)

9742
100836
10.350646684459043

In [40]:
spark.sql("select * from moviestable").show()

+-------+--------------------+--------------------+
|movieid|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [41]:
# j. What is the predominant (frequency based) genre per rating level?
from pyspark.sql.window import Window

In [42]:
# copied from assignmet solution
from pyspark.sql.window import Window

joined_df=ratings_df1.join(movies, ratings_df1.movieid == movies.movieid, 'inner')
exploded_df = joined_df.withColumn("genre", explode(split("genres", "/|")))
grouped_df = exploded_df.groupBy("rating", "genre").count()

window=Window.partitionBy("rating").orderBy(col("count").desc())
ranked_df=grouped_df.withColumn("rank", rank().over(window)).filter(col("rank") == 1).orderBy(col("rating").desc())

ranked_df.select("rating", "genre").show()

+------+------+
|rating| genre|
+------+------+
|   5.0| Drama|
|   4.5| Drama|
|   4.0| Drama|
|   3.5| Drama|
|   3.0|Comedy|
|   2.5|Comedy|
|   2.0|Comedy|
|   1.5|Comedy|
|   1.0|Comedy|
|   0.5|Comedy|
+------+------+

In [43]:
joined_df = ratings_df1.join(movies, movies.movieid==ratings_df1.movieid, "inner")
exploded_df = joined_df.withColumn("genre", explode(split("genres", "\|")))
grouped_df = exploded_df.groupBy("rating", "genre").count()
window = window.partitionBy("rating").orderBy(col("count").desc())
ranked_df = grouped_df.withColumn("rank", rank().over(window)).filter(col("rank") == 1).orderBy(col("rating").desc())
ranked_df.select("rating", "genre").show()

+------+------+
|rating| genre|
+------+------+
|   5.0| Drama|
|   4.5| Drama|
|   4.0| Drama|
|   3.5| Drama|
|   3.0|Comedy|
|   2.5|Comedy|
|   2.0|Comedy|
|   1.5|Comedy|
|   1.0|Comedy|
|   0.5|Comedy|
+------+------+

In [44]:
joined_df = ratings_df1.join(movies, movies.movieid==ratings_df1.movieid, "inner")
exploded_df = joined_df.withColumn("genre", explode(split("genres", "\|")))
grouped_df = exploded_df.groupBy("rating", "genre").count()
window = window.partitionBy("rating").orderBy(col("count").desc())
ranked_df = grouped_df.withColumn("rank", rank().over(window)).filter(col("rank") == 1).orderBy(col("rating").desc())
ranked_df.select("rating", "genre").show()

+------+------+
|rating| genre|
+------+------+
|   5.0| Drama|
|   4.5| Drama|
|   4.0| Drama|
|   3.5| Drama|
|   3.0|Comedy|
|   2.5|Comedy|
|   2.0|Comedy|
|   1.5|Comedy|
|   1.0|Comedy|
|   0.5|Comedy|
+------+------+

In [45]:
from pyspark.sql.window import Window

joined_table = ratings_df1.join(movies, movies.movieid==ratings_df1.movieid, "inner")
exploded_table = joined_table.withColumn("genre", explode(split("genres", "\|")))
grouped_table = exploded_table.groupBy("rating", "genre").count()
window_table = window.partitionBy("rating").orderBy(col("count").desc())
ranked_df = grouped_df.withColumn("rank", rank().over(window_table)).filter(col("rank") == 1).orderBy(col("rating").desc())
ranked_df.select("rating", "genre").show()

+------+------+
|rating| genre|
+------+------+
|   5.0| Drama|
|   4.5| Drama|
|   4.0| Drama|
|   3.5| Drama|
|   3.0|Comedy|
|   2.5|Comedy|
|   2.0|Comedy|
|   1.5|Comedy|
|   1.0|Comedy|
|   0.5|Comedy|
+------+------+

In [46]:
# k. What is the predominant tag per genre and the most tagged genres?

joined_table = movies.join(tags_df1, tags_df1.movieid==movies.movieid, "inner")
exploded_table = joined_table.withColumn("genre", explode(split("genres", "\|")))
grouped_table = exploded_table.groupBy("genre", "tag").count()

window = window.partitionBy("genre").orderBy(desc("count"))
ranked_table = grouped_table.withColumn("rank", rank().over(window)).filter(col("rank") == 1)
ranked_table.select("tag", "genre").groupBy("genre").agg(collect_list("tag")).show()

+------------------+--------------------+
|             genre|   collect_list(tag)|
+------------------+--------------------+
|(no genres listed)|[quirky, understa...|
|            Action|         [superhero]|
|         Adventure|         [superhero]|
|         Animation|            [Disney]|
|          Children|            [Disney]|
|            Comedy|  [In Netflix queue]|
|             Crime|  [In Netflix queue]|
|       Documentary|  [In Netflix queue]|
|             Drama|  [In Netflix queue]|
|           Fantasy|            [Disney]|
|         Film-Noir|  [In Netflix queue]|
|            Horror|[Stephen King, gh...|
|              IMAX|[visually appeali...|
|           Musical|            [Disney]|
|           Mystery|      [twist ending]|
|           Romance|  [In Netflix queue]|
|            Sci-Fi|            [sci-fi]|
|          Thriller|       [atmospheric]|
|               War|           [Vietnam]|
|           Western|  [In Netflix queue]|
+------------------+--------------------+

In [47]:
## l.  What are the most predominant (popularity based) movies?

joined_df = ratings_df1.join(movies, ratings_df1.movieid==movies.movieid, "inner")
grouped_df = joined_df.groupBy("title")\
                    .agg(count("title").alias("movie_count"))

grouped_df.select("*")\
    .orderBy(desc("movie_count"))\
    .show(10, truncate=False)

+-----------------------------------------+-----------+
|title                                    |movie_count|
+-----------------------------------------+-----------+
|Forrest Gump (1994)                      |329        |
|Shawshank Redemption, The (1994)         |317        |
|Pulp Fiction (1994)                      |307        |
|Silence of the Lambs, The (1991)         |279        |
|Matrix, The (1999)                       |278        |
|Star Wars: Episode IV - A New Hope (1977)|251        |
|Jurassic Park (1993)                     |238        |
|Braveheart (1995)                        |237        |
|Terminator 2: Judgment Day (1991)        |224        |
|Schindler's List (1993)                  |220        |
+-----------------------------------------+-----------+
only showing top 10 rows

In [48]:
## l.  What are the most predominant (popularity based) movies?
# usign sql query

spark.sql("""
        select m.title, count(rating) as rating_count 
        from moviestable as m
        join ratingtable as r on m.movieid=r.movieid
        group by m.title
        order by rating_count desc
        limit 10
        """)\
    .show()

+--------------------+------------+
|               title|rating_count|
+--------------------+------------+
| Forrest Gump (1994)|         329|
|Shawshank Redempt...|         317|
| Pulp Fiction (1994)|         307|
|Silence of the La...|         279|
|  Matrix, The (1999)|         278|
|Star Wars: Episod...|         251|
|Jurassic Park (1993)|         238|
|   Braveheart (1995)|         237|
|Terminator 2: Jud...|         224|
|Schindler's List ...|         220|
+--------------------+------------+

In [49]:
most_predominant_df = movies.join(ratings_df1, ratings_df1.movieid==movies.movieid, "inner")\
                            .groupby(col("title").alias("title")).count()\
                            .orderBy(desc(col("count")))\
                            .show(10, truncate=False)

+-----------------------------------------+-----+
|title                                    |count|
+-----------------------------------------+-----+
|Forrest Gump (1994)                      |329  |
|Shawshank Redemption, The (1994)         |317  |
|Pulp Fiction (1994)                      |307  |
|Silence of the Lambs, The (1991)         |279  |
|Matrix, The (1999)                       |278  |
|Star Wars: Episode IV - A New Hope (1977)|251  |
|Jurassic Park (1993)                     |238  |
|Braveheart (1995)                        |237  |
|Terminator 2: Judgment Day (1991)        |224  |
|Schindler's List (1993)                  |220  |
+-----------------------------------------+-----+
only showing top 10 rows

In [50]:
# m. Top 10 movies in terms of average rating (provided more than 30 users reviewed them)

joined_df = ratings_df1.join(movies, movies.movieid==ratings_df1.movieid, "inner")
grouded_df = joined_df.groupBy("title")\
                        .agg(count("title").alias("count"),
                            avg("rating").alias("avg"))\
                        .filter(col("count") > 30)

grouded_df.select("*").orderBy(desc("avg")).show(5)

+--------------------+-----+-----------------+
|               title|count|              avg|
+--------------------+-----+-----------------+
|Shawshank Redempt...|  317|4.429022082018927|
|Lawrence of Arabi...|   45|              4.3|
|Godfather, The (1...|  192|        4.2890625|
|   Fight Club (1999)|  218|4.272935779816514|
|Cool Hand Luke (1...|   57|4.271929824561403|
+--------------------+-----+-----------------+
only showing top 5 rows

In [51]:
# m. Top 10 movies in terms of average rating (provided more than 30 users reviewed them)
# sql query
spark.sql("""
        select m.title, count(title) as movie_count, avg(rating) as avg_rating 
        from moviestable as m
        join ratingtable as r on m.movieid=r.movieid
        group by m.title
        having movie_count > 30
        order by avg_rating desc
        limit 5
        """)\
    .show(truncate=False)

+--------------------------------+-----------+-----------------+
|title                           |movie_count|avg_rating       |
+--------------------------------+-----------+-----------------+
|Shawshank Redemption, The (1994)|317        |4.429022082018927|
|Lawrence of Arabia (1962)       |45         |4.3              |
|Godfather, The (1972)           |192        |4.2890625        |
|Fight Club (1999)               |218        |4.272935779816514|
|Cool Hand Luke (1967)           |57         |4.271929824561403|
+--------------------------------+-----------+-----------------+

In [52]:
import matplotlib.pyplot as plt

In [58]:
joined_df = ratings_df1.join(movies, movies.movieid==ratings_df1.movieid, "inner")
grouded_df = joined_df.groupBy("title")\
                        .agg(count("title").alias("count"),
                            avg("rating").alias("avg"))\
                        .filter(col("count") > 30)

grouded_df.select("*").orderBy(desc("avg")).show()

+--------------------+-----+------------------+
|               title|count|               avg|
+--------------------+-----+------------------+
|Shawshank Redempt...|  317| 4.429022082018927|
|Lawrence of Arabi...|   45|               4.3|
|Godfather, The (1...|  192|         4.2890625|
|   Fight Club (1999)|  218| 4.272935779816514|
|Cool Hand Luke (1...|   57| 4.271929824561403|
|Dr. Strangelove o...|   97| 4.268041237113402|
|  Rear Window (1954)|   84| 4.261904761904762|
|Godfather: Part I...|  129|  4.25968992248062|
|Departed, The (2006)|  107| 4.252336448598131|
|   Goodfellas (1990)|  126|              4.25|
|   Casablanca (1942)|  100|              4.24|
|Dark Knight, The ...|  149| 4.238255033557047|
|Usual Suspects, T...|  204| 4.237745098039215|
|Princess Bride, T...|  142| 4.232394366197183|
|Star Wars: Episod...|  251| 4.231075697211155|
|Schindler's List ...|  220|             4.225|
|Boondock Saints, ...|   43|  4.22093023255814|
|Apocalypse Now (1...|  107| 4.219626168224299|
|American History ...|  129| 4.217054263565892|
|Star Wars: Episod...|  211|4.2156398104265405|
+--------------------+-----+------------------+
only showing top 20 rows